
<form>
  <img src="assets/cliente.png">

  <input type="text" placeholder="Nome" class="form-control">
  <input type="number" placeholder="Idade" class="form-control">
  <input type="text" placeholder="Cidade" class="form-control">

  @if (btnCadastro) {<button class="btn btn-primary">Cadastrar</button>}
  @if (!btnCadastro) {<button class="btn btn-warning">Alterar</button>}
  @if (!btnCadastro) {<button class="btn btn-danger">Remover</button>}
  @if (!btnCadastro) { <button class="btn btn-secondary">Cancelar</button>}


</form>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>





