
<form>
  <img src="assets/cliente.png">

  <input type="text" placeholder="Nome" class="form-control" name="nome"  [(ngModel)]="cliente.nome">
  <input type="number" placeholder="Idade" class="form-control"name="idade" [(ngModel)]="cliente.idade">
  <input type="text" placeholder="Cidade" class="form-control" name="cidade" [(ngModel)]="cliente.cidade">

  @if (btnCadastro) {<button (click)="cadastrar()" class="btn btn-primary">Cadastrar</button>}
  @if (!btnCadastro) {<button (click)="editar()" class="btn btn-warning">Alterar</button>}
  @if (!btnCadastro) {<button class="btn btn-danger">Remover</button>}
  @if (!btnCadastro) { <button class="btn btn-secondary">Cancelar</button>}


</form>

<table class="table" *ngIf="tabela">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes; index as i">
      <td>{{i+1}}</td>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.idade}}</td>
      <td>{{cliente.cidade}}</td>
      <td><button (click)="selecionarCliente(i)" class="btn btn-success">Selecionar</button></td>
    </tr>

  </tbody>
</table>





